*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding:  20px;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: rgb(203, 178, 235);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0 ,0,0.1);
}
.container header {
    font-size: 1.5em;
    color: gray;
    font-weight: 500;
    text-align: center;
}
.container .form{
    margin-top: 30px;
}
.container .input-box {
    width: 100% ;
    margin-top: 20px;
}
.input-box label {
    color: rgb(68, 50, 50);
}
 .form  :where(.input-box input) {
    position: relative;
    height:  50px;
    width: 100%;
    outline: none;
    font-size:  1rem;
    color: rgb(15, 14, 14);
    margin-top:  8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
 }
 .form .column{
    display: flex;
    column-gap: 15px;
 }
 .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
 }

 .form .gender {
    column-gap: 5px;
    cursor: pointer;
 }
 .address:where(input, select-box){
    margin-top: 15px;
 }
 .select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
 }
 .form button{
    height: 55px;
    width: 100%;
    background-color: aqua;
    font-size: 1rem;
    border: none;
    margin-top:  30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight:  400;}

 @media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}